Ritika Chand <br>

In [ ]:
#feed forward propogation for IRIS dataset

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [ ]:
df=pd.read_csv('iris_data.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [ ]:
df.shape #rows and columns

(150, 5)

In [ ]:
# converting category value of column 'species' to numeric (used in ml)
label= LabelEncoder()                       # converts to numeric value
label=label.fit_transform(df.iloc[:,-1])    # last column
#label.shape                                #numpy doesn't like (150,) notation. Thus change it
label=label.reshape((-1,1))                 #-1 means takes all the rows in dataset and 1 column 
label.shape

(150, 1)

In [ ]:
df.iloc[:,-1]=label
df

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [ ]:
# gotta normalize to avoid machine going haywire. Scale it so that all column values are within the same range.

In [ ]:
#Scaling of attributes
#make mean 0 and varience 1
scaler=StandardScaler()     #scaling finds mean of each column and deduct mean from each column and finds varience and divides by each column val
input_float=df.iloc[:,0:4] # all rows and from column 0 to 3
scaler.fit(input_float)
input_float=scaler.transform(input_float)
df.iloc[:,0:4]=input_float
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0     -0.900681     1.032057     -1.341272    -1.312977        0
1     -1.143017    -0.124958     -1.341272    -1.312977        0
2     -1.385353     0.337848     -1.398138    -1.312977        0
3     -1.506521     0.106445     -1.284407    -1.312977        0
4     -1.021849     1.263460     -1.341272    -1.312977        0

In [ ]:
df.insert(5,'flower1',0)
df.insert(6,'flower2',0)
df.insert(7,'flower3',0)

In [ ]:
df

     sepal_length  sepal_width  petal_length  ...  flower1  flower2  flower3
0       -0.900681     1.032057     -1.341272  ...        0        0        0
1       -1.143017    -0.124958     -1.341272  ...        0        0        0
2       -1.385353     0.337848     -1.398138  ...        0        0        0
3       -1.506521     0.106445     -1.284407  ...        0        0        0
4       -1.021849     1.263460     -1.341272  ...        0        0        0
..            ...          ...           ...  ...      ...      ...      ...
145      1.038005    -0.124958      0.819624  ...        0        0        0
146      0.553333    -1.281972      0.705893  ...        0        0        0
147      0.795669    -0.124958      0.819624  ...        0        0        0
148      0.432165     0.800654      0.933356  ...        0        0        0
149      0.068662    -0.124958      0.762759  ...        0        0        0

[150 rows x 8 columns]

In [ ]:
[rows,columns]=df.shape    # if species is 0 then its flower1 thus rest are 0 and flower1 is 1....similarly
for i in range(rows):
  if df.iloc[i,4]==0:   
    df.iloc[i,5]=1        #flower1 is 1
  elif df.iloc[i,4]==1:
    df.iloc[i,6]=1         #flower2 is 1
  else:
    df.iloc[i,7]=1

df

     sepal_length  sepal_width  petal_length  ...  flower1  flower2  flower3
0       -0.900681     1.032057     -1.341272  ...        1        0        0
1       -1.143017    -0.124958     -1.341272  ...        1        0        0
2       -1.385353     0.337848     -1.398138  ...        1        0        0
3       -1.506521     0.106445     -1.284407  ...        1        0        0
4       -1.021849     1.263460     -1.341272  ...        1        0        0
..            ...          ...           ...  ...      ...      ...      ...
145      1.038005    -0.124958      0.819624  ...        0        0        1
146      0.553333    -1.281972      0.705893  ...        0        0        1
147      0.795669    -0.124958      0.819624  ...        0        0        1
148      0.432165     0.800654      0.933356  ...        0        0        1
149      0.068662    -0.124958      0.762759  ...        0        0        1

[150 rows x 8 columns]

In [ ]:
np.random.seed(42) #all computers will generate the same random number
w_i_h1=np.random.rand(4,1) # 4 weights from input layer to hidden layer1
w_i_h2=np.random.rand(4,1)
w_h_o1=np.random.rand(2,1) #2 multipliers/lines to that node
w_h_o2=np.random.rand(2,1)
w_h_o3=np.random.rand(2,1)

bias1=np.random.rand(1)
bias2=np.random.rand(1)

In [ ]:
bias1

array([0.18182497])

In [ ]:
def sigmoid(x):
  y=1/(1+np.exp(-x))
  return y

In [ ]:
inputs=np.array(df)
feature_set=inputs[:,:4]    #need 1st 4 columns
feature_set.shape

(150, 4)

In [ ]:
#input to hidden layer
Z2_1=np.dot(feature_set,w_i_h1)+bias1
Z2_2=np.dot(feature_set,w_i_h2)+bias2

In [ ]:
h2_1=sigmoid(Z2_1)
h2_2=sigmoid(Z2_2)

In [ ]:
h2_1.shape

(150, 1)

In [ ]:
h2=np.append(h2_1,h2_2,axis=1)
Z3_1=np.dot(h2,w_h_o1)
Z3_2=np.dot(h2,w_h_o2)
Z3_3=np.dot(h2,w_h_o3)
o1=sigmoid(Z3_1)
o2=sigmoid(Z3_2)
o3=sigmoid(Z3_3)

In [ ]:
o1

array([[0.58842384],
       [0.55573855],
       [0.56156672],
       [0.55706384],
       [0.59431021],
       [0.64769169],
       [0.57792115],
       [0.5804475 ],
       [0.54659937],
       [0.55626838],
       [0.61300412],
       [0.57803356],
       [0.55015517],
       [0.54337426],
       [0.64403287],
       [0.68705059],
       [0.64157517],
       [0.59468015],
       [0.63874625],
       [0.62198098],
       [0.59066903],
       [0.61987965],
       [0.58114697],
       [0.59607471],
       [0.58169055],
       [0.55842504],
       [0.59395106],
       [0.5917726 ],
       [0.58291017],
       [0.56418374],
       [0.56047653],
       [0.60075082],
       [0.63750023],
       [0.65694602],
       [0.55626838],
       [0.56497514],
       [0.59510622],
       [0.55626838],
       [0.54942125],
       [0.58228898],
       [0.59131684],
       [0.5368727 ],
       [0.55753702],
       [0.61551373],
       [0.63519079],
       [0.55919233],
       [0.61679275],
       [0.56101806],
       [0.61077598],
       [0.57268685],
       [0.72587488],
       [0.72052205],
       [0.72607248],
       [0.61364209],
       [0.6964367 ],
       [0.66431967],
       [0.73083149],
       [0.5845725 ],
       [0.69352727],
       [0.64266541],
       [0.57133686],
       [0.69458347],
       [0.5970719 ],
       [0.69118997],
       [0.65713457],
       [0.71297122],
       [0.69259397],
       [0.63023309],
       [0.63909499],
       [0.61461569],
       [0.73074917],
       [0.66572912],
       [0.67159426],
       [0.66929143],
       [0.68528228],
       [0.70454881],
       [0.69879526],
       [0.72859411],
       [0.69282938],
       [0.61214533],
       [0.60487727],
       [0.59747427],
       [0.64164478],
       [0.69154995],
       [0.68846905],
       [0.73003967],
       [0.72136298],
       [0.63382718],
       [0.67344813],
       [0.62752979],
       [0.63386714],
       [0.69756544],
       [0.63472127],
       [0.5814302 ],
       [0.64876718],
       [0.67017885],
       [0.66851527],
       [0.68101577],
       [0.59626585],
       [0.65822577],
       [0.76611328],
       [0.70584389],
       [0.75430872],
       [0.7277731 ],
       [0.75172715],
       [0.76057014],
       [0.64914719],
       [0.74502678],
       [0.71122475],
       [0.77337717],
       [0.74787058],
       [0.71912346],
       [0.74955132],
       [0.69258191],
       [0.736969  ],
       [0.75734505],
       [0.7346804 ],
       [0.77246054],
       [0.75813138],
       [0.64154105],
       [0.76230176],
       [0.71253259],
       [0.75420387],
       [0.70694339],
       [0.7580768 ],
       [0.75159041],
       [0.71110951],
       [0.72363387],
       [0.73731324],
       [0.73670319],
       [0.74492344],
       [0.7695124 ],
       [0.74132205],
       [0.69913911],
       [0.6793768 ],
       [0.76431113],
       [0.76463584],
       [0.73789844],
       [0.7210115 ],
       [0.75315507],
       [0.76082548],
       [0.75750082],
       [0.70584389],
       [0.76235092],
       [0.76731945],
       [0.75324634],
       [0.69869165],
       [0.74069897],
       [0.7611244 ],
       [0.72256484]])

In [ ]:
#error calc
fl1=np.array(df.iloc[:,5])
fl1=fl1.reshape((-1,1)) #-1 means  all rows. &1 column. u get shape as (150,1)
fl2=np.array(df.iloc[:,6])
fl2=fl2.reshape((-1,1))
fl3=np.array(df.iloc[:,7])
fl3=fl3.reshape((-1,1))

error1=(o1-fl1)
error2=(o2-fl2)
error3=(o3-fl3)

In [ ]:
fl1.shape

(150, 1)

In [ ]:
error1_square=np.multiply(error1,error1)
error2_square=np.multiply(error2,error2)
error3_square=np.multiply(error3,error3)

In [ ]:
error=error1_square +error2_square +error3_square
print(np.sum(error))

144.83471642466847

Conclusion: 
<br>iris dataset of 150 samples is used for feedforward network. <br>
Initial weights are generated using randomizer, since backpropagation is not used, feedforward network generates error equal to 144. If we change the weight using randomizer, the error will change.